/*

	Copyright 2020-2022 elBelgg
	
*/

:root {
	--animationTiming:cubic-bezier(.1,1,.1,1);
	--avatarSize:128px;
}

html {
	font-family:Roboto, Noto Sans JP, Segoe UI, sans-serif;
	touch-action: manipulation;
	background: #000;
}

video {
    position: fixed;

    min-width: 100%;
    min-width: 100%;

	background-image: -moz-linear-gradient(asd);

    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%); 

    filter: blur(7px) brightness(100%);

    z-index: 0;
}


	/* ___ Loader ___ */
	
	.loader-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #753809;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.loader {
	  display: inline-block;
	  width: 30px;
	  height: 30px;
	  position: relative;
	  border: 4px solid #Fff;
	  animation: loader 2s infinite ease;
	}
	
	.loader-inner {
	  vertical-align: top;
	  display: inline-block;
	  width: 100%;
	  background-color: #fff;
	  animation: loader-inner 2s infinite ease-in;
	}
	
	@keyframes loader {
	  0% {
		transform: rotate(0deg);
	  }
	  
	  25% {
		transform: rotate(180deg);
	  }
	  
	  50% {
		transform: rotate(180deg);
	  }
	  
	  75% {
		transform: rotate(360deg);
	  }
	  
	  100% {
		transform: rotate(360deg);
	  }
	}
	
	@keyframes loader-inner {
	  0% {
		height: 0%;
	  }
	  
	  25% {
		height: 0%;
	  }
	  
	  50% {
		height: 100%;
	  }
	  
	  75% {
		height: 100%;
	  }
	  
	  100% {
		height: 0%;
	  }
	}

	/* ___ Loader ___ */


@keyframes colourRotate {
	0% {background:#F44336}
	15% {background:#FF5722}
	30% {background:#FFC107}
	45% {background:#4CAF50}
	60% {background:#2196F3}
	75% {background:#673AB7}
	90% {background:#E91E63}
	100% {background:#F44336}
}

body {
	margin:0;
	height:100%;
}

@font-face {
	font-family:"Transport";
	src:url("font/WorkSans-Medium-EDITED.txt"),
		url("font/WorkSans-Medium-EDITED.txt");
}


@keyframes sectionIn {
	0% {
		margin-top:100px;
		opacity:0;
	}
	100% {
		margin-top:0;
		opacity:1;
	}
}

.hidden {
	display:none;
}

@keyframes pageIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.page {
	padding:20px;
	color:#fff;
	margin:auto;
	box-shadow:rgba(0, 0, 0, 0.5) 0 10px 30px;
	margin-top:100px;
	overflow:hidden;
	z-index:2;
	position:relative;
	background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/bg2_blur.webp);
	background-size: cover;
	background-attachment: fixed
}

.nowebp .page {
	background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/bg2_blur.jpg);
}


@supports (backdrop-filter:blur(50px)) or (-webkit-backdrop-filter:blur(50px)) {
	.page {
		background: rgba(0, 0, 0, 0.65);
		backdrop-filter:blur(50px);
		-webkit-backdrop-filter:blur(50px);
	}
}

.tabs {
	white-space:nowrap;
	overflow-x:auto;
	border-bottom: 2px solid #fff;
	margin-left: -20px;
	padding-left: 20px;
	margin-right: 370px;
}

.tab {
	display:inline-block;
	/*width:100px;*/
	padding:10px;
	font-size:20px;
	text-align:center;
	color:#fff!important;
	border-radius: 6px 6px 0 0;
	transition:background 0.5s var(--animationTiming), color 0.5s var(--animationTiming)
}

.tab:hover {
	background:rgba(255,255,255,0.2);
	text-decoration:none;
}

.tab.tabSelected {
	background: #fff;
	color: #000!important;
	font-weight: 600;
}

.tab>i {
	line-height:0;
	vertical-align:middle;
	padding-right:10px;
	padding-bottom:3px;
	width: 24px;
}

.sections {
	overflow:hidden;
	box-sizing:border-box;
	padding-top:10px;
	padding-bottom:10px;
	height: 100%;
}

.sectionList {
	transition:margin-left 0.4s var(--animationTiming);
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.section {
	width: calc(100% - 450px);
	position:absolute;
	transition:margin-top 0.5s var(--animationTiming), opacity 0.3s var(--animationTiming);
	overflow-y: auto;
	height: calc(100% - 90px);
	opacity: 0;
	pointer-events: none;
}

.articleGrid {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-auto-rows: 112px;
}

article,.article {
	display: flex;
	overflow:hidden;
	background-color: rgba(255,255,255,0.1);
	margin-top: 5px;
	padding: 12px;
	padding-top: 16px;
	border-radius: 6px;
	margin: 5px;
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 7px 3px rgb(0 0 0 / 10%);
	transition:background-color 0.3s var(--animationTiming),box-shadow 0.3s var(--animationTiming);
}

.article:hover {
	background-color: rgba(255,255,255,0.2);
	box-shadow: 0 4px 7px 3px rgb(0 0 0 / 15%);
}

.article:active {
	background-color: rgba(255,255,255,0.05);
}

.articleText {
	width:calc(100% - 90px);
	display:inline-block;
	margin-left:10px;
	padding-top: 2px;
}

.section1 .articleText {
	padding-top:8px;
	margin-left:12px
}

article img, .article img {
	width:64px;
	height:64px;
	border-radius: 8px;
}

article i, .article i {
	font-size:64px!important;
}

article p, .article p {
	margin-block-start: 0.5em;
}

article a:not(.regularLink), .article {
	color:#fff!important;
}

article a:hover, .article:hover {
	text-decoration:none;
}

.articleName {
	white-space:nowrap;
}

.elBelgg {
	font-family:Transport, Roboto, Noto Sans JP, Segoe UI, sans-serif;
	display:inline-block;
	vertical-align:top;
	margin-top:20px;
	margin-left:20px;
	padding-right: 42px;
	line-height: 72px;
	text-align: right;
	width: 370px;
}

.subtext {
	opacity:0.8;
}

.avatarPic {
	width:var(--avatarSize);
	height:var(--avatarSize);
	display:inline-block;
	white-space:nowrap;
}

.avatarList {
	transition:margin-left 0.3s var(--animationTiming);
	height:var(--avatarSize);
	width:calc(var(--avatarSize) * 4);
	white-space:nowrap;
}

.avatarList[data-current-pic="1"] {
	margin-left:calc(0px - var(--avatarSize));
}

.avatarList[data-current-pic="2"] {
	margin-left:calc((0px - var(--avatarSize) - 4px) * 2);
}

.avatarList[data-current-pic="3"] {
	margin-left:calc((0px - var(--avatarSize) - 4px) * 3);
}

.avatar {
	border-radius:50%;
	margin-left:30px;
	float:left;
	overflow:hidden;
	width:var(--avatarSize);
	height:var(--avatarSize);
	margin-top: 10px;
	display: none;
}

.header {
	width:450px;
	right: 0;
	position: absolute;
}

.header.cjk {
	width:730px;
}

h1 {
	font-size: 62px;
}

h2 {
	font-size:36px;
}

@keyframes bodyIn {
	0% {
		transform: translateY(600px);
	}

	100% {
		transform: translateY(0px);
	}
}

.fullbody {
	margin-top:-70px;
	animation: bodyIn 1s;
}

.fullbody,.fullbody>* {
	width: 100%;
	max-width: 450px;
	float: right;
	pointer-events: none;
}

.sectionList[data-current-section="1"] .section1 {
	margin-top:0;
	pointer-events: all;
	opacity: 1;
}

.sectionList[data-current-section="1"] .section2 {
	margin-top:-69px
}

.sectionList[data-current-section="1"] .section3 {
	margin-top:-69px
}

.sectionList[data-current-section="1"] .section4 {
	margin-top:-69px
}

.sectionList[data-current-section="2"] .section1 {
	margin-top:69px
}

.sectionList[data-current-section="2"] .section2 {
	margin-top:0;
	pointer-events: all;
	opacity: 1;
}

.sectionList[data-current-section="2"] .section3 {
	margin-top:-69px
}

.sectionList[data-current-section="2"] .section4 {
	margin-top:-69px
}

.sectionList[data-current-section="3"] .section1 {
	margin-top:69px
}

.sectionList[data-current-section="3"] .section2 {
	margin-top:69px
}

.sectionList[data-current-section="3"] .section3 {
	margin-top:0;
	pointer-events: all;
	opacity: 1;
}

.sectionList[data-current-section="3"] .section4 {
	margin-top:-69px
}

.sectionList[data-current-section="4"] .section1 {
	margin-top:69px
}

.sectionList[data-current-section="4"] .section2 {
	margin-top:69px
}

.sectionList[data-current-section="4"] .section3 {
	margin-top:69px
}

.sectionList[data-current-section="4"] .section4 {
	margin-top:0;
	pointer-events: all;
	opacity: 1;
}

.spacingHack {
	height:16px
}

.openingSection {
	padding: 10px;
}

#copyDiscordFakeElement {
	position: absolute;
	top: 9999%;
}

.copied {
	background: rgba(56, 232, 91, 0.4)!important;
}

.copied .discordText {
	pointer-events: none;
	opacity: 0;
}

.copiedText {
	position: absolute;
	padding: 18px;
	text-align: center;
	pointer-events: none;
	opacity: 0;
}

.copied .copiedText {
	pointer-events: all;
	opacity: 1;
}

#discordCopy {
    white-space: nowrap;
}

#discordCopy .articleText {
	margin-top: -30px;
}

.discordText,.articleText {
	transition:opacity 0.5s var(--animationTiming)
}

.discordText>img {
	margin-top: -30px;
	position: absolute;
	margin-left:-64px;
}

.discordText {
	margin-top: 30px;
	margin-left:64px
}

.copiedText .material-icons {
	font-size:32px;
	vertical-align:middle;
	margin-left:-12px;
	padding-right:10px
}

.boopHeart {
	color: rgb(224, 36, 94);
	margin-top: -60px;
	pointer-events: none;
}

.boopHeart.anim1 {
	animation: boop 4s;
}

.boopHeart.anim2 {
	animation: boop2 4s;
}

.boopHeart.anim3 {
	animation: boop3 4s;
}

.boopHeart > span {
	position: absolute;
	font-size: 48px;
}

#boopButton {
	height: 40px;
	width: 50px;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}

.section1 .articleGrid {
	grid-auto-rows: 107px!important;
}

.boop {
	position: absolute;
	right: 224px;
	top: 319px;
	width: 30px;
	height: 30px;
}

@keyframes boop {
	0% {
		transform: rotate(-30deg) translateX(-30px);
		opacity: 1;
		/*margin-top: -36px;*/
	}
	100% {
		transform: rotate(0deg) translateY(-100px) translateX(-80px);
		opacity: 0;
		/*margin-top: -136px;*/
	}
}

@keyframes boop2 {
	0% {
		transform: rotate(5deg);
		opacity: 1;
		/*margin-top: -36px;*/
	}
	100% {
		transform: rotate(0deg) translateY(-100px) translateX(0px);
		opacity: 0;
		/*margin-top: -136px;*/
	}
}
@keyframes boop3 {
	0% {
		transform: rotate(30deg) translateY(-10px) translateX(10px);
		opacity: 1;
		/*margin-top: -36px;*/
	}
	100% {
		transform: rotate(0deg) translateY(-100px) translateX(80px);
		opacity: 0;
		/*margin-top: -136px;*/
	}
}

.section1 article img, .section1 .article img {
	border-radius: 16px;
}

@media (min-width:801px) {
	.section {
		padding: 8px;
	}
}

@media (min-width: 1001px) {
    .page {
        max-width: 1400px;
        border-radius:12px;
        margin-bottom:30px;
        height: 725px;
    }

	.articleGrid.three {
		grid-template-columns: repeat(3, 33%);
	}
}

@media (max-width: 1800px) {
	.articleGrid {
		grid-auto-rows: 132px;
	}
}

@media (max-width: 1500px) {
	.fullbody,.fullbody>* {
		max-width:400px!important
	}
	
	.boop {
		position: absolute;
		right: 207px!important;
		top: 357px!important;
	}

	.fullbody {
		margin-top:0!important
	}

	.section {
	    width: calc(100% - 350px);
	}
}

@media (min-width: 1400px) {
    .page {
        width:70%;
    }
}

@media (max-width: 1300px) {
	.tabs {
		margin-top: 128px;
		width:100%;
	}

	.header {
		position:absolute;
		top:0;
		left:0;
		width:100%
	}

	.elBelgg {
		width:500px;
		margin-top:40px;
		text-align:left;
		float:left;
	}

	.fullbody {
		display:none
	}

	.section {
		height: calc(100% - 195px);
	    width: calc(100% - 20px);
	}

	.avatar {
		display: block;
	}

	#boopButton {
		height: 28px;
		width: 28px;
	}
	
	.boop {
		position: absolute;
		right: initial!important;
		left: 46px;
		top: 63px!important;
	}
}

@media (min-width: 1200px) {
    .page {
        width:80%;
    }
}

@media (max-width: 1000px) {
	.elBelgg {
		font-size:36px;
		line-height:40px;
		width:300px!important
	}

	:root {
		--avatarSize:100px;
	}

	.elBelgg.cyrillic {
		font-size:38px;
	}

	.tabs {
		margin-top:120px!important
	}

	.page {
		position:absolute;
		left:0;
		right: 0px;
		top:50px;
		bottom:0;
	}
	
	.boop {
		top:48px!important;
		left:42px!important;
	}
	
}

@media (max-width: 700px) {
	.page {
	    padding:10px;
		top:0px!important;
	}
}

@media (max-width: 700px) {
    .articleGrid {
		grid-template-columns: repeat(1, 100%);
	}
}


@media (max-height: 700px) {
    .page {
    	top: -60px!important;
    }

	.section {
		padding: 4px!important;
	}
}

@media (max-width: 500px) {
    .elBelgg {
    	width: 220px!important;
    }

    .page {
    	padding: 10px;
    }

    .elBelgg {
    	margin-top:24px!important
    }
}

@media (max-width: 400px) {
    .elBelgg {
    	margin-top:-10px!important
    }
}
